body {
  background: #e0eafc;
  background: -webkit-linear-gradient(to right, #cfdef344, #e0eafc67);
  background: linear-gradient(to right, #cfdef344, #e0eafc67);
}

#root {
  margin: auto;
  display: flex;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(255, 255, 255);
  padding: 0.51rem;
  margin-top: 0.51rem;
}

/* .ui.form {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1rem;
} */
/* 
.ui.form,
.ui.form .field {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  flex-direction: row;
  flex: 1 1 150px;
  place-items: center;
  margin: 0;
  padding: 0 0.3rem 0 0;
} */

.activeUser {
  color: green;
}

.unActiveUser {
  color: red;
}

.page-home-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin: auto;
}

.ui.secondary.pointing.menu .dropdown.item:hover,
.ui.secondary.pointing.menu .link.item:hover,
.ui.secondary.pointing.menu a.item:hover {
  background-color: transparent;
  color: rgba(253, 89, 89, 0.856) !important;
  border-color: rgba(253, 89, 89, 0.856) !important;
  border: 0 solid red;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-radius: 0.3rem;
  align-self: flex-end;
  margin: 0 0 -2px;
  padding: 0.85714286em 1.14285714em;
  border-bottom-width: 0.2rem;
  transition: color 0.2s ease-in;
}

.form-container {
  width: 28rem;
  margin: auto;
  padding: 0.1rem;
}
