* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

#root {
  /* width: fit-content; */
}

footer {
  position: fixed;
  z-index: 4;
  justify-content: center;
  margin: auto;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(255, 255, 255);
  padding: 0.4rem;
  box-shadow: 0 0 0.2rem black;
}

.ui.container {
  padding-bottom: 1rem;
}

.ui.mini.right.floated {
  width: 40px;
  min-height: 40px;
  max-height: auto;
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 1px 0px, rgb(0 0 0 / 15%) 0px 1px 5px 0px !important;
  border: 1px solid white;
  border-radius: 0.1rem;
  margin: 3px;
}

.ui.mini.right.floated image {
  max-width: 100%;
  height: auto;
}

div.column.register {
  max-width: 450px !important;
}

@media only screen and (max-width: 767px) {
  .ui.action.input.comment {
    max-width: 85%;
  }

  div.column.register {
    max-width: 320px !important;
    place-content: center;
  }

  .register input,
  .register input[type="file"] {
    max-width: 220px !important;
  }
}

.activeUser {
  color: green;
  animation: Spin 2s infinite;
}

@keyframes Spin {
  from {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(0.9);
  }
}

.unActiveUser {
  color: red;
}

div.ui.one.column.grid.page-home {
  transition: all 0.5s ease-in;
}

.page-home-title {
  margin-top: -1rem;
  display: block !important;
  text-align: center;
  font-size: 2rem;
}

/* User online status indication */

.ui.secondary.pointing.menu .dropdown.item:hover,
.ui.secondary.pointing.menu .link.item:hover,
.ui.secondary.pointing.menu a.item:hover {
  background-color: transparent;
  color: rgba(253, 89, 89, 0.856) !important;
  border-color: rgba(253, 89, 89, 0.856) !important;
  border: 0 solid red;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-radius: 0.3rem;
  align-self: flex-end;
  margin: 0 0 -2px;
  padding: 0.85714286em 1.14285714em;
  border-bottom-width: 0.2rem;
  transition: color 0.2s ease-in;
}
