body {
  /* background: #e0eafc; */
  /* background: -webkit-linear-gradient(to right, #cfdef344, #e0eafc67); */
  /* background: linear-gradient(to right, #cfdef344, #e0eafc67); */
}

#root {
  margin: auto;
  width: fit-content;
}

footer {
  position: fixed;
  z-index: 4;
  justify-content: center;
  margin: auto;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(255, 255, 255);
  padding: 0.51rem;
  margin-top: 0.51rem;
  box-shadow: 0 0 0.2rem black;
}

@media only screen and (max-width: 767px) {
  .ui.container {
    width: 100% !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
  }
}

.activeUser {
  color: green;
  animation: Spin 2s infinite;
}

@keyframes Spin {
  from {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(0.9);
  }
}

.unActiveUser {
  color: red;
}

.page-home-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin: auto;
}

.ui.secondary.pointing.menu .dropdown.item:hover,
.ui.secondary.pointing.menu .link.item:hover,
.ui.secondary.pointing.menu a.item:hover {
  background-color: transparent;
  color: rgba(253, 89, 89, 0.856) !important;
  border-color: rgba(253, 89, 89, 0.856) !important;
  border: 0 solid red;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-radius: 0.3rem;
  align-self: flex-end;
  margin: 0 0 -2px;
  padding: 0.85714286em 1.14285714em;
  border-bottom-width: 0.2rem;
  transition: color 0.2s ease-in;
}

.form-container {
  width: 28rem;
  margin: auto;
  padding: 0.1rem;
}
